{% extends 'base.html' %}

{% load static %}

{# Site title #}
{% block head_content %}
    <title>My ML Rep</title>
{% endblock  %}

{% block container %}

<div class="container">
    <div class="first-big-text">
        Hi! Welcome to my Machine Learning Web App.
    </div>
    <div class="img-grid-container">
        <div class="boot"><img src="{% static 'img/boot.png' %}" alt="boot"></div>
        <div class="item"></div>
        <div class="item"></div>
        <div class="item"></div>
        <div class="item"></div>
        <div class="wall-e"><img src="{% static 'img/wall-e.png' %}" alt="wall-e"></div>
    </div>

    <div class="look-projects big-text">
        Look at the <span style="font-style:italic;">Projects</span> tab to see all my current work!
    </div>
    <div class="big-text">
        Click on <span style="font-style:italic;">About Me</span> to visit my personal web page.
    </div>
</div>

{% endblock  %}

